{% if request.user.is_staff %}
 <!-- Sidebar Admin -->
<aside class="sidebar">
        <div class="sidebar-label">Administration</div>

        <a href="{% url 'dashboard:admin_dashboard' %}" class="active">
            <span class="ico">📊</span>
            Dashboard
        </a>

        <a href="{% url 'moderation:all_users' %}">
            <span class="ico">👥</span>
            Users
        </a>

        <a href="{% url 'moderation:article_view_admin' %}">
            <span class="ico">📝</span>
            Articles
        </a>

        <a href="#">
            <span class="ico"><a href="{% url 'publications:publications_view' %}" >🏢 Publications</a></span>

        </a>

        <a href="#">
            <span class="ico">💬</span>
            Comments
        </a>

        <a href="#">
            <span class="ico">🏷️</span>
            Tags
        </a>

        <a href="#">
            <span class="ico">🚩</span>
            Reports
        </a>

        <a href="#">
            <span class="ico">📧</span>
            Newsletter
        </a>

        <div class="sidebar-label">Analytics</div>

        <a href="#">
            <span class="ico">📈</span>
            Traffic
        </a>

        <a href="#">
            <span class="ico">🔥</span>
            Engagement
        </a>

        <a href="#">
            <span class="ico">👨‍💻</span>
            Authors
        </a>
    </aside>

{% else %}
<aside class="sidebar">
  <div class="sidebar-label">Main</div>

  <a href="{% url 'dashboard:author_dashboard' %}">
    <span class="ico">📊</span> Dashboard
  </a>

  <a href="{% url 'articles:list' %}">
    <span class="ico">📄</span> Articles
  </a>

  <a href="{% url 'articles:create' %}">
    <span class="ico">✚</span> Add Article
  </a>

  <div class="sidebar-label">User</div>

  {% if user.is_authenticated %}
    <a href="{% url 'accounts:profile' %}">
      <span class="ico">👤</span> Profile
    </a>

    <a href="{% url 'accounts:public_profile' user.username %}">
      <span class="ico">👤</span> public_profile
    </a>

    <a href="{% url 'interactions:bookmarks' %}">
      <span class="ico">🔖</span> Bookmarks
    </a>

    <a href="{% url 'notifications:list' %}">
      <span class="ico">🔔</span> Notifications
    </a>

    <a href="{% url 'publications:publications_view' %}">
      <span class="ico">📚</span> Publications
    </a>

    <a class="ahmed" href="{% url 'publications:pending_invitations' %}">
      <span class="ico">📩</span> Invitations
      {% if pending_invites_count > 0 %}
        <span class="badge bg-danger ms-2">{{ pending_invites_count }}</span>
      {% endif %}
    </a>


    <a href="{% url 'accounts:logout' %}">
      <span class="ico">🚪</span> Logout
    </a>
  {% else %}
    <a href="{% url 'accounts:login' %}">
      <span class="ico">🔐</span> Login
    </a>

    <a href="{% url 'accounts:register' %}">
      <span class="ico">📝</span> Register
    </a>
  {% endif %}
</aside>
{% endif %}